extends layout

block content
  .main.container.text-xs-center
    h1.display-3 Watch &amp; Learn Coding Skills
    p.lead Choose from our large collection of paid and free courses!
    p.lead Since it is a REST API project, feel free to change the URL to
    div.list-group
      a.list-group-item.list-group-item-action(href='/api') /api
      a.list-group-item.list-group-item-action(href='/api/users') /api/users
      a.list-group-item.list-group-item-action(href='/api/courses') /api/courses
      br
    a.btn.btn-info-outline.btn-lg(href='/register') Get Started for FREE


